#{{ ansible_managed }}

server {
	server_name novaapp.co;
	return 301 $scheme://www.nova.jobs$request_uri;
}

server {
	server_name ~^(?<subdomain>\w+)\.novaapp\.co$;
	return 301 $scheme://$subdomain.nova.jobs$request_uri;
}
