#{{ ansible_managed }}

server {
	server_name nova.jobs;
	return 301 $scheme://www.nova.jobs$request_uri;
}

server {
	server_name survey.nova.jobs application.nova.jobs;
	return 302 $scheme://www.nova.jobs/survey;
}

server {
	server_name www.nova.jobs;
	root /var/www/nova.jobs/current;

	location /static {
		alias /var/www/nova.jobs/current/public/static;
	}

	location / {
		uwsgi_pass unix:/tmp/uwsgi-nova.jobs.sock;
		include /etc/nginx/uwsgi_params;
	}
}

server {
	server_name staging.nova.jobs;
	root /var/www/staging.nova.jobs/current;

	location /static {
		alias /var/www/staging.nova.jobs/current/public/static;
	}

	location / {
		uwsgi_pass unix:/tmp/uwsgi-staging.nova.jobs.sock;
		include /etc/nginx/uwsgi_params;
	}
}
