#{{ ansible_managed }}

[uwsgi]
socket = /tmp/uwsgi-{{ domain }}.sock
chmod-socket = 660
uid = www-data
gid = www-data
home = venv
module = nova.wsgi
master = true
processes = 4
die-on-term = true
req-logger = file:/var/log/uwsgi-{{ domain }}/access.log
logger = file:/var/log/uwsgi-{{ domain }}/error.log
