#{{ ansible_managed }}

server {
	server_name novaapp.co www.novaapp.co;
	return 301 https://www.nova.jobs$request_uri;
}

server {
	server_name application.novaapp.co;
	return 301 http://application.nova.jobs$request_uri;
}

server {
	server_name survey.novaapp.co;
	return 301 http://survey.nova.jobs$request_uri;
}

server {
	server_name staging.novaapp.co;
	return 301 $scheme://staging.nova.jobs$request_uri;
}
