#{{ ansible_managed }}

server {
	listen [::]:80;
	listen 80;
	server_name nova.jobs www.nova.jobs;

	# redirect non-SSL to SSL
	return 301 https://www.nova.jobs$request_uri;
}

server {
	server_name survey.nova.jobs application.nova.jobs;
	return 302 https://www.nova.jobs/survey;
}

server {
	listen [::]:443 ssl spdy;
	listen 443 ssl spdy;
	server_name nova.jobs;

	include /etc/nginx/ssl/nova.jobs.ssl.conf;

	# redirect non-www SSL to www SSL
	return 301 https://www.nova.jobs$request_uri;
}

server {
	listen [::]:443 ssl spdy;
	listen 443 ssl spdy;
	server_name www.nova.jobs;

	include /etc/nginx/ssl/nova.jobs.ssl.conf;

	root /var/www/nova.jobs/current;

	location /static {
		root /var/www/nova.jobs/current/public;
		access_log off;
		expires max;
		add_header Cache-Control "public";
	}

	location / {
		uwsgi_pass unix:/tmp/uwsgi-nova.jobs.sock;
		include /etc/nginx/uwsgi_params;
	}
}
