<!doctype html>
<html>
	<head>
		<title>Nova</title>

		<style type="text/css">
			html {
				margin: 0;
				height: 100%;
				overflow: hidden;
			}
			iframe {
				position: absolute;
				left:0;
				right:0;
				bottom:0;
				top:0;
				border:0;
			}
		</style>

		{% if not request.donottrack %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-65734107-1', 'auto');
			ga('send', 'pageview');
		</script>
		{% endif %}
	</head>

	<body>
		<iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://nova8.typeform.com/to/Jx5L8A"></iframe>

		<script type="text/javascript">
(function(){var a,b;b=document.getElementById("typeform-full"),/mobile|tablet/i.test(navigator.userAgent.toLowerCase())?window.location=b.getAttribute("src"):b.contentWindow.focus(),a=function(a){var b,c;return c=new RegExp("^(?:f|ht)tp(?:s)?://([^/]+)","im"),b=a.origin.match(c)[1].toString(),/typeform/.test(b)?/fancy/.test(a.data)?!1:"ESC"!==a.data?window.location.href=a.data:void 0:!1},window.addEventListener?window.addEventListener("message",a):window.attachEvent&&window.attachEvent("onmessage",a)}).call(this);
		</script>
	</body>
</html>
