---

- name: Install Nginx
  apt: name=nginx state=installed

- name: Copy mime.types
  template: src=nginx/mime.types.1.j2 dest=/etc/nginx/mime.types.1
  notify:
   - reload Nginx

- name: Copy Nginx base config
  template: src=nginx/nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify:
   - reload Nginx

- name: Copy Nginx site config
  template:
    src: nginx/{{ domain }}.j2
    dest: /etc/nginx/sites-available/{{ domain }}
  notify:
   - reload Nginx

- name: Copy Nginx SSL site config
  template: src=nginx/ssl.conf.j2 dest=/etc/nginx/ssl/{{ domain }}.ssl.conf
  notify:
   - reload Nginx

- name: Activate Nginx site config
  file:
    state: link
    src: /etc/nginx/sites-available/{{ domain }}
    path: /etc/nginx/sites-enabled/{{ domain }}

- name: Check Nginx syntax of configuration files
  shell: "nginx -t"
  register: result
  changed_when: "result.rc != 0"
  always_run: yes
